.body{
    padding: 0px;
}
.main-container{
padding-left: 0px !important;
}
.header-container{
    background: linear-gradient(45deg,black, yellowgreen);
    opacity: 0.7;
    position: fixed;
    top: 0px;
    display: block;
    width: 100%;
    z-index: 1;
}
.shadow{
    text-shadow: 0px 1px 3px;
}
.fiv-icons:hover{
   text-decoration: none;
   background-color:white;
   font-size: larger;
}
.img-cont{
    width:100%;
    height: 600px;
    margin-top: 50px;
    opacity: 0.9;
}
.col-image{
    width: 50px;
    height: 50px;
    margin: 19px;
    border-radius: 50%;
}
.row-container{
    padding: 50px;
    margin-top: -24px;
}
.round{
    position: absolute;
    top: -51px;
     left: 50px;
     background:linear-gradient(40deg,green,orange);
    border-radius: 50%;
}
.col-container{
    height: 350px;
    box-shadow: 0px 0px 1px 3px rgb(59, 56, 56);
    max-width: 29% !important;
    margin-left: 30px;
}
.col-container:hover{
    transform: translateY(-30px);
    transition: 1s;
    box-shadow: 0px 0px 2px 5px rgb(59, 56, 56);
    background-color: rgb(138, 175, 62)
}
.arrow-cont{
    color: blue;
}
.second-col-image{
    width: 103%;
    height: 560px;
}
.second-row-col{
    box-shadow: 0px 0px 1px 5px;
    max-width: 46% !important;
    
}
.we-cont{
    text-align: center;
    text-decoration: none;
    font-family: sans-serif;
    
    margin-top: 40px;
}
.ser-row-colimg{
    font-size: 80px;
    color: yellowgreen;
    margin-left: 70px;
    margin-bottom: 30px;
    
}
.ser-container{
    box-shadow: 0px 0px 1px 4px whitesmoke;
    max-width: 20% !important;  
    padding: 20px;
    margin: 20px;
}
.ser-container:hover{
    opacity: 0.7;
    background:linear-gradient(50deg,rgb(153, 77, 90),rgb(83, 83, 161))
}
.carouse-img{
    width: 90px;
    height: 90px;
    border-radius: 80px;
    margin-left: 530px;
}
.carou-container{
       padding: 10px;
       opacity: 0.8;
       background-color: rgb(10, 10, 12);
       background: linear-gradient(40deg rgb(19, 19, 22) rgb(216, 216, 211));   
       margin-bottom: 50px;  
       margin-top: 50px !important;
       margin-right: -15px;
}
.col-md-6{
    box-shadow: 0px 0px 0px 4px  rgb(241, 235, 235);
    padding-left: 0px  !important;
    margin: 25px;
   max-width: 45% !important
}
.addres-cont{
    background-color: red;
    background: linear-gradient(45deg, red, blue);
    padding: 10px;
    box-shadow: 0px 0px 1px 4px brown;
}


